<!doctype html>
<title>Hello from Flask</title>
<h1>Board</h1>
<table>
    {% for tile in board %}
        {% if tile.0 % 4 == 0 %}
            <tr>
        {% endif %}

        <td style="border: 1px grey solid; padding: 5px;">{{ tile.1 }}</td>

        {% if tile.0 % 4 == 3 %}
            </tr>
        {% endif %}
    {% endfor %}
</table>

<h1>Find A Word</h1>
<form action="/check" method="POST">
    <label>
        Check word:
        <input type="text" name="word" />
    </label>
    <button type="submit">Submit</button>
</form>

{% if current_word and not is_valid %}
    <p style="color: red;">Oops - {{current_word}} is invalid! {{message}}</p>
{% elif current_word and is_valid %}
    <p style="color: green;">You found {{current_word}}!</p>
{% endif %}

<h1>Found Words</h1>
<ul>
    {% for word in words %}
        <li>{{ word }}</li>
    {% endfor %}
</ul>
