{% extends 'base.html' %}

{% block content %}
    <div class="ui main relaxed container stackable grid" style="margin-top: 1em;">

        <div class="six wide column">
            <h1 class="ui header">Board</h1>
            <table class="ui celled unstackable table">
                {% for tile in board %} {% if tile.0 % 4 == 0 %}
                <tr>
                    {% endif %}

                    <td style="text-align: center; font-weight: 700;">{{ tile.1 }}</td>

                    {% if tile.0 % 4 == 3 %}
                </tr>
                {% endif %} {% endfor %}
            </table>
        </div>
        <div class="ten wide column">
            <h1 class="ui header">Find A Word</h1>
            <div class="ui segment">
                <form action="/check" method="POST" id="wordForm">
                    <div class="ui action input fluid">
                        <input id="wordInput" type="text" placeholder="Enter a word..." name="word" >
                        <button class="ui button" type="submit">
                            <i class="search icon"></i>
                            Search
                        </button>
                    </div>
                    {% if current_word %}
                        <div class="ui pointing {% if current_word and not is_valid %}red{% elif current_word and is_valid %}teal{% endif %} basic label">
                            {% if current_word and not is_valid %}
                                Oops - {{current_word}} is invalid! {{message}}
                            {% elif current_word and is_valid %}
                                You found {{current_word}}!
                            {% endif %}
                        </div>
                    {% endif %}
                </form>
                {% if words %}
                <div class="ui divider"></div>
                <div class="ui medium header">Found Words</div>
                <strong>Total Score:</strong>
                <div class="ui circular large label green"> {{score}}</div>
                <ul class="ui list">
                    {% for word in words %}
                    <li>{{ word }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/javascript">
    // https://raw.githubusercontent.com/icambron/moment-countdown/master/dist/moment-countdown.min.js
    (function(){var countdown,moment,ref,ref1,slice=[].slice;countdown=(ref=typeof require==="function"?require("countdown"):void 0)!=null?ref:this.countdown;moment=(ref1=typeof require==="function"?require("moment"):void 0)!=null?ref1:this.moment;moment.fn.countdown=function(){var args,other;other=arguments[0],args=2<=arguments.length?slice.call(arguments,1):[];return countdown.apply(null,[this.toDate(),moment(other).toDate()].concat(slice.call(args)))}}).call(this);
</script>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script>
    // get the end time
    var end = moment().add(3, 'minutes').format();

    // send the end time to backend
    $('#wordForm').submit(function(e) {
        $('<input />').attr('type', 'hidden')
          .attr('name', "end")
          .attr('value', end)
          .appendTo('#wordForm');

        return true;
    });
    // setInterval(function() {
    //    console.log(moment().countdown(now).toString())
    // }, 1000);
</script>
{% endblock %}
