<!doctype html>
<title>Hello from Flask</title>
<h1>Board</h1>
<table>
    {% for tile in board %}
        {% if tile.0 % 4 == 0 %}
            <tr>
        {% endif %}

        <td>{{ tile.1 }}</td>

        {% if tile.0 % 4 == 3 %}
            </tr>
        {% endif %}
    {% endfor %}
</table>

<form action="/" method="POST">
    <label>
        Check word:
        <input type="text" name="word" />
    </label>
    <button type="submit">Submit</button>
</form>

<h1>Score</h1>
<p>
    {% for word in words %}
        {{ word }}
    {% endfor %}
</p>
