{% extends 'base.html' %}

{% block content %}
    <div class="ui main relaxed text container" style="margin-top: 2.75em; padding-top: 1em;">
        <h1 class="ui header">Instructions</h1>
        <ul class="ui list">
            <li>Given a board of letters, your goal is to get the highest score in 3 minutes by forming words. Longer words give a higher score.</li>
            <li>"QU" is counted as two letters for the purposes of scoring.</li>
            <li>An asterisk ("*") is a "wildcard", and can be used as any letter, including "QU".</li>
        </ul>
    </div>
{% endblock content %}
